body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #2D2E36;
    font-family: 'Poppins';
    font-weight: 300;
}

img {
    width: 100%;
    border-radius: 0.2rem;
}

a {
    text-decoration: none;
}

.container {
    background: #383845;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;
    max-width: 270px;
    cursor: pointer;
}

.title {
    color: white;
    font-size: 1.2rem;
    line-height: 119.7%;
}

.description {
    color: #8D91A6;
    font-size: 0.8rem;
}

.link {
    width: 9px;
    height: 9px;
    margin-right: 4px;
}

.info {
    font-size: 0.7rem;
    color: #8D91A6;
}

.info p {
    display: inline-flex;
    margin-right: 15px;
    font-weight: 500;
}

/*winbox*/

.winbox {
    border-radius: 5px;
}

.winbox a {
    width: 100%;
    display: block;
}

.wb-body {
    background: #2D2E36;
    border-radius: 5px;
}

.wb-title {
    font-family: 'Poppins';
    font-weight: 700;
    opacity: 80%;
    font-size: 1rem;
}

.hidden-content {
    display: none;
}

.win-item {
    background: #383845;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;
    /*max-width: 88%;*/
    min-height: 60px;
}
#special {
    background: #5d5d70;
}
.item-photo {
    float: right;
    width: 7rem;
    margin-right: 1rem;
    height: 100%;
}

.item-title {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 120%;
}

.item-desc {
    color: #abafbe;
}

.item-price {
    color: #8D91A6;
}

#purchased {
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;
}

/*desktop screen*/
@media only screen and (min-width:700px) {
    .container {
        max-width: 600px;
        width: 600px;
    }

    .photo {
        width: 9rem;
        margin-right: 1rem;
        height: 100%;
    }

    a {
        display: flex;
        align-items: center;
    }
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
